<%- include ('partials/header.html') %>

    <main id="home-page">
        <section id="introduction-section">
            <h4 class="introduction-header">Colony-R</h4>
            <p class="introduction-headline">Are You Ready For A Life On Mars?</p>
            <button class="introduction-btn">View Models</button>
            <div class="introduction-fade-out"></div>
        </section>
        <section id="about-us-section">
            <h4 class="about-section-header">About Colony-R</h4>
            <p class="about-section-artical">
                Since the great success of humanity colonizing mars back in the year of 2050 it was not until the year
                of 2057 the general public were able to by real-estate on the planet mars. Colony-R was the first cosmic
                home builder company to sell houses to general public that year allowing anyone the opportunity to move
                off of earth to mars. Colony-R is well know for making cosmic real-estate much more affordable for the
                average person seeking to buy real-estate on the planet mars, with a fine tune for more luxurious homes
                for anyone who could afford it.
            </p>
        </section>
        <section id="inquire-box" class="inquire-box-disabled">
            <!-- Forms elements accept 'action' and 'method' attributes, which we can send our post to our backend through (but we will submit and handle data first through submit function like you were) -->
            <!-- <form action="/" method="post" class="contact-form" id="form-data"> -->
            <form class="contact-form" id="form-data">
                <i id="inquiry-exit-button" class="fa-solid fa-circle-xmark"></i>
                <input placeholder="Full Name" type="text" id="name" required>
                <input placeholder="E-mail" type="email" id="email" required>
                <label id="model-list-header" for="model-list">What model are you interested in?</label>
                <select name="model" id="model-list" required>-
                    <option selected disabled value="">-- Choose Your Model --</option>
                    <option value="ionic-dome">Ionic Dome</option>
                    <option value="tetrix-dome">Tetrix Dome</option>
                    <option value="bionic-dome">Bionic Dome</option>
                    <option value="trionic-dome">Trionic Dome</option>
                </select>
                <input id="submit-button" type="submit" value="Send Message">
            </form>
            <div class="result hide" id="result-form">
                <div>
                    <h2 id="result-title">Success!</h2>
                    <p id="result-msg">Please check for an email from us!</p>
                </div>
                <button type="button" class="result-btn" id="result-btn">
                    <h5>Done</h5>
                </button>
            </div>
        </section>
        <section id="model-section">
            <h4 class="model-section-header">Our Models</h4>
            <div class="model-container">
                <div class="model-1-container model-image">
                    <button class="inquiry-button inquire-disabled">Inquire</button>
                    <div class="model-1"></div>
                </div>
                <div class="model-3-container model-image">
                    <button class="inquiry-button inquire-disabled">Inquire</button>
                    <div class="model-2"></div>
                </div>
                <div class="model-2-container model-image">
                    <button class="inquiry-button inquire-disabled">Inquire</button>
                    <div class="model-3"></div>
                </div>
                <div class="model-4-container model-image">
                    <button class="inquiry-button inquire-disabled">Inquire</button>
                    <div class="model-4"></div>
                </div>
            </div>
        </section>
    </main>

    <script src="/js/index.js"></script>
    </body>

    </html>