<nav id="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Colony-R</a>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
        <ul class="navbar-list-items">
            <li class="items"><a class="links" href="/">Home</a></li>
            <li class="items"><a class="links" href="/about">About Us</a></li>
            <li class="items"><a class="links" href="/models">Our Models</a></li>
            <li class="items"><a class="links" href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>